# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env
.env.*
!.env.example

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local Python environment
Lib/
Scripts/
etc/
share/
Include/
pyvenv.cfg

# Old Git repository
.git_old/